<div class="footer">
    <p class="footer-desc">Made by Group 2 with â¤ and passion.</p>
    <form class="logout-form" action="/auth/logout" method="post">
        <button class="btn btn-light btn-logout" type="submit"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </form>
</div>
</body>

</html>