<%- include('partials/header'); -%>
<div class="jumbotron">
    <div class="container content">
        <h1 class="display-3">404 Not Found!</h1>
        <p>The page you look for is not existed or it has been deleted.</p>
    </div>
</div>
<%- include('partials/footer'); -%>
