<%- include('partials/header'); -%>
<div class="content container">
    <div class="row">
        <div class="mt-4 d-flex justify-content-center">
            <h3 class="display-5">A <strong><i class="font-weight-bold">library management</i></strong> website</h3>
        </div>
        <img src="/public/images/backGroundImages/library.jpg" alt="" style="margin-bottom: 20px">
    </div>
    
</div>
<%- include('partials/footer'); -%>