<%- include('partials/header'); -%>
<div class="content container">
    <div class="row">
        <div class="mt-4 d-flex justify-content-center">
            <h3 class="display-5">A <strong><i class="font-weight-bold">library management</i></strong> website</h3>
        </div>
        <img src="/public/images/backGroundImages/library.jpg" alt="" style="margin-bottom: 20px">
    </div>
    <div class="row">
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <img src="/img/library.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <img src="https://upload.wikimedia.org/wikipedia/commons/2/21/Biblioth%C3%A8que_de_l%27Assembl%C3%A9e_Nationale_%28Lunon%29.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <img src="https://images.viblo.asia/ad4a8508-e418-48a6-90ab-2f526d876136.jpeg" alt="">
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <img src="https://cdn.britannica.com/92/216092-131-5FF4D1E7/custom-library.jpg" alt="">
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <img src="https://cf.bstatic.com/data/xphoto/1182x887/177/17718375.jpg?size=S" alt="">
            </div>
        </div>
        <div class="col-sm-4 py-2">
            <div class="card card-body h-100">
                <img src="https://i.tribune.com.pk/media/images/1795483-library-1536099953/1795483-library-1536099953.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<%- include('partials/footer'); -%>