*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
}

img{
    display: block;
    max-width: 100%;
}

a{
    color: black;
    text-decoration: none;
}

body{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

.side-menu{
    position: fixed;
    margin-top: 60px;
    height: calc(100vh - 60px - 45px);
    z-index: 1;
    left: -280px;
    transition: all 1s;
}

.enter{
    left: 0px !important;
}

.menu-icon{
    position: absolute;
    display: inline-block;
    font-size: 24px;
    padding: 10px;
}

.navbar{
    letter-spacing: 4px;
}

.nav-item{
    margin: 0 10px;
}

.navbar-brand{
    font-weight: 500;
}

.content{
    min-height: calc(100vh - 100px);
}

.footer{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #9fbfdf;
}

.footer-desc{
    margin-bottom: 0;
}

.logout-form{
    display: inline-block;
    position: absolute;
    /* float: right; */
    right: 100px;
    top: 3px;
}

.btn-logout{
    font-size: inherit;
}

.card-img-book{
    max-height: 200px;
    object-fit: contain;
}